@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*   {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--text-font);
}

:root   {
    --primary-color: #050505;
    --secondary-color: #6CD94E;
    --details-color: #EEEEEE;
    --hover-color: #272727;

    --text-font: "Montserrat", sans-serif;
    --title-font: "Krona One", sans-serif;

    --text-size: 24px;
    --title-size: 36px;
}

header  {
    background-color: var(--primary-color);
}

.navbar__container  {
    margin: auto;
    max-width: 1240px;
    background-color: var(--primary-color);
}

.navbar__container--list    {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 30px 0 0 0 
}

.navbar__container--list-item  a {
    color: var(--secondary-color);
    font-size: var(--text-size);
    font-weight: 600;
    text-decoration: none;
}

main    {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: var(--primary-color);
    color: var(--details-color);
}

.container__hero    {
    display: flex;  
    align-items: center;
    justify-content: space-around;
    gap: 80px;
}

.container__hero--description   {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    width: 600px;
    height: 350px;
}

.container__hero--description-title {
    font-family: var(--title-font);
    font-size: var(--title-size);
}

.container__hero--description-title strong  {
    color: var(--secondary-color);
}

.container__hero--description-text  {
    text-align: justify;
    font-size: var(--text-size);
    line-height: 1.2em;
}

.container__hero--social    {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    font-size: var(--text-size);
    font-weight: 600;
}

.container__hero--social-title  {
    font-size: var(--text-size);
    font-family: var(--title-font);
}

.container__hero--social-item   {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 280px;
    padding: 20px 0;
    border: 2px solid var(--secondary-color);
    border-radius: 16px;
}

.container__hero--social-item a {
    color: var(--details-color);
    text-decoration: none;
}

.container__hero--social-item:hover {
    background-color: var(--hover-color);
}

.container__hero--image img{
    width: 488px;
    height: 550px;
}

footer  {
    background-color: var(--secondary-color);
    color: var(--hover-color);
    display: flex;
    justify-content: center;
    padding: 30px 0;
}